<html>
<head>
    <title>Recursipe</title>
    <link rel="stylesheet" href="/base.css">
</head>

<body>
    <div class="flex justify-center items-center h-screen">
        <div class="grid flex-1 center-content justify-items-center gap-4 grid-cols-1 lg:grid-cols-2 xl:grid-cols-3">
            <div class="card bg-base-100 w-96 shadow-xl">
                <figure>
                    {{#if photo}}
                    <img src="{{photo}}" alt={{name}} />
                    {{else}}
                    <img src={{PlaceholderImage}} alt={{name}} />
                    {{/if}}
                </figure>
                <div class="card-body">
                    <h2 class="card-title">{{name}}</h2>
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
</body>

</html>